@import "abstracts/variables";

.course-card {
    height: 320px;
    border-radius: 8px;
    background-color: $dark-gray-color;
    transition: 0.3s all;
    overflow: hidden;
    &__image-container {
        height: 180px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__description-container{
        .title{
            color: $light-gray-2-color;
        }
        .subtitle-wrapper{
          .subtitle-container{
            color: $light-gray-color;
            font-size: 15px;
            .icon-container{
                .icon{
                    color: $primary-green;
                    &--orange{
                        color: $orange-color;
                    }
                }
            }
          }  
        }
    }
}
