@import "./colors";

$primary-green: $green;
$white-color: $white;
$dark-gray-color: $dark-gray;
$light-gray-color: $light-gray;
$light-gray-2-color: $light-gray;
$background-color: $black;
$orange-color: $orange;
