<div class="courses-header-container">
    <div class="courses-header-container__title w-100 d-flex align-items-center justify-content-center">MATH</div>
    <div class="courses-header-container__description-container w-100 d-flex flex-column justify-content-center">
        <div class="description-container title mb-2 d-flex justify-content-end">Learn Online</div>
        <div class="description-container subtitle">study any topic, anytime. Explore thousands of courses starting at $11.99 each</div>
    </div>
</div>