@import "abstracts/variables";

.courses-header-container {
    height: 200px;
    background-color: rgba($color: $light-gray-2-color, $alpha: 0.4);
    &__title {
        position: absolute;
        font-size: 7rem;
        height: 200px;
        color: $light-gray-color;
        filter: brightness(0.5);
    }
    &__description-container {
        height: 200px;
        .description-container {
            color: $white;
            padding: 5px 10px;
            background-color: $light-gray-color;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            z-index: 1;
            background-color: rgba($color: $light-gray-2-color, $alpha: 0.6);
            &.title {
                width: 400px;
                font-size: 2rem;
                text-transform: uppercase;
            }
            &.subtitle {
                width: max-content;
                background-color: rgba($color: $light-gray-2-color, $alpha: 0.1);
            }
        }
    }
}
