<div class="courses-page">
    <div class="container-fluid">
        <div class="row">
            <div class="courses-page__header">
                <app-courses-header></app-courses-header>
            </div>

        </div>

    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="courses-page__filters-wrapper col-3 col-sm-3 col-md-3 col-lg-3 mt-4"
                    [ngClass]="{'show': sharedService.isShowFilter}">
                    <div class="filters-wrapper">
                        <div class="filters-title mb-4">
                            Filter BY:
                        </div>
                        <div class="filters-container">
                            <span class="title mb-2">Course Duration</span>
                            <div class="checkboxs-container" *ngFor="let checkbox of checkboxList">
                                <div class="checkbox-container d-flex align-items-center mb-2">
                                    <input [id]="checkbox.id" type="checkbox" [checked]="checkbox.checked"
                                        (change)="checkbox.checked = !checkbox.checked;filterCoursesByDuration()">
                                    <div class="checkbox-sign d-flex align-items-center justify-content-center">
                                        <span class="icon-checked"></span>
                                    </div>
                                    <span class="checkbox-name">{{checkbox.name}}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="filters-container">
                            <span class="title mb-2">All Categories</span>
                            <div class="checkboxs-container" *ngFor="let categoryCheckbox of categoryList">
                                <div class="checkbox-container d-flex align-items-center mb-2">
                                    <input [id]="categoryCheckbox.name" type="checkbox"
                                        [checked]="categoryCheckbox.checked"
                                        (change)="categoryCheckbox.checked = !categoryCheckbox.checked;filterCoursesByCategory(categoryCheckbox)">
                                    <div class="checkbox-sign d-flex align-items-center justify-content-center">
                                        <span class="icon-checked"></span>
                                    </div>
                                    <span class="checkbox-name">
                                        {{categoryCheckbox.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filters-wrapper mt-4">
                        <div class="filters-container">
                            <div class="filters-title filters-title--green mb-4">
                                My Courses
                            </div>
                            <div class="student-course-card-wrapper">
                                <div class="student-course-card pt-3" *ngFor="let course of studentCourses">
                                    <app-student-course-card [course]="course"></app-student-course-card>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-9 col-lg-9 mt-4">
                    <div class="courses-page__courses-wrapper row">
                        <div class="course-container col-12 col-sm-12 col-md-6 col-lg-4 mb-5"
                            *ngFor="let course of courses | filterCourseByDuration:checkedList | filterCourseByCategory:checkedCategoriesList">
                            <app-course-card [course]="course"></app-course-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>